<section class="pdf-flex pdf-justify-between w-full max-h-100 overflow-hidden">
  <%= image_tag embed_image(images.first.variant(resize_to_fill: [640, 320]).processed), class: 'w-2/3' %>
  <div class="pdf-flex pdf-flex-col pdf-grow">
    <%= image_tag embed_image(images.second.variant(resize_to_fill: [320, 160]).processed), class: 'w-[320px] h-[160px] object-cover' %>
    <%= image_tag embed_image(images.third.variant(resize_to_fill: [320, 160]).processed), class: 'w-[320px] h-[160px] object-cover' %>
  </div>
</section>
