<%= render 'console/shared/account_page_header' %>

<main class="container mx-auto">
  <h1>Editing Classifier</h1>

  <%= render 'form', classifier: @classifier %>

  <%= link_to 'Back', console_account_classifiers_path(@account) %>
</main>
