<h1>Editing Property Contact</h1>

<%= render 'form', property_contact: @property_contact %>

<%= link_to 'Show', console_account_property_property_contact_path(@account, @property, @property_contact) %> |
<%= link_to 'Back', [:console, @account, @property] %>
