<p class="mb-4">Here is a listing that you may be looking for.</p>

<p class="mb-4">Let me know if you are interested.</p>

<p class="mb-4"><%= %i[Kind Best].sample %> regards,</p>
<div class="mb-4">
  <p><%= agent.name %>.</p>
</div>