<% if contact&.first_name&.present? %>
  <p class="mb-4">Hello <%= contact.first_name %>,</p>
<% else %>
  <p class="mb-4">Hello,</p>
<% end %>

<p class="mb-4">Here are a few listings that you may be looking for.</p>

<p class="mb-4">Let me know if you are interested.</p>

<p class="mb-4"><%= %i[Kind Best].sample %> regards,</p>
<div class="mb-4">
  <p><%= agent.name %>.</p>
</div>