
<header class="py-6">
  <%= render Console::ContainerComponent.new do %>
    <div class="relative border-b border-gray-200 pb-5 sm:pb-0">
      <div class="md:flex md:items-center md:justify-between">
        <h3 class="text-3xl font-bold leading-tight tracking-tight text-gray-900"><%= @title %></h3>
        <div class="mt-3 flex md:absolute md:top-3 md:right-0 md:mt-0 space-x-2">
          <% if buttons? %>
            <% buttons.each do |button| %>
              <%= button %>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="mt-4">
        <% if tabs? %>
          <!-- Dropdown menu on small screens -->
          <div class="sm:hidden">
            <label for="current-tab" class="sr-only">Select a tab</label>
            <select id="current-tab" name="current-tab" class="block w-full rounded-md border-gray-300 py-2 pl-3 pr-10 text-base focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
              <option>Applied</option>

              <option>Phone Screening</option>

              <option selected>Interview</option>

              <option>Offer</option>

              <option>Hired</option>
            </select>
          </div>
          <!-- Tabs at small breakpoint and up -->
          <div class="hidden sm:block">
            <nav class="-mb-px flex space-x-8">
              <% tabs.each do |tab| %>
                <%= tab %>
              <% end %>
            </nav>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</header>